.page-section {
  $section-heading-size: 3em;
  padding-top: 4em;
  @include breakpoint('mobile-tablet') {
    padding-top: 2em;
  }
  .section-subheading,
  .section-heading {
    margin: 0;
    line-height: 1.1;
  }
  .section-subheading {
    margin: 0;
    //font-weight: normal;
    font-family: $condensed-font-stack;
    font-size: 1.25em;
    @include breakpoint('mobile-tablet'){
      font-size: 1em;
    }
    color: lighten($color-heading, 30%);
  }
  .section-heading {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: $body-font-stack;
    font-size: $section-heading-size;
    @include breakpoint('mobile') {
      font-size: 1.5em;
    }
    @include breakpoint('tablet') {
      font-size: 2em;
    }
    color: $color-heading;
    margin-left: -2px; // weird space with font
  }
}