.page-footer {
  .headshot {
    float: right;
    margin-left: 2em;
  }
  .credentials {
    font-style: italic;
    font-size: 0.9em;
    color: darken($color-text, 20%);
  }
}
.page-footer-wrap {
    background-color: $blue-darker;
    border-top: $border-width solid $gray;
    @include pie-clearfix;
}