.page-section {
  $section-heading-size: 4em;
  padding-top: 4em;
  .section-subheading,
  .section-heading {
    margin: 0;
    line-height: 1.1;
  }
  .section-subheading {
    margin: 0;
    //font-weight: normal;
    font-family: $condensed-font-stack;
    font-size: 1.25em;
    color: lighten($color-heading, 30%);
  }
  .section-heading {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: $body-font-stack;
    font-size: $section-heading-size;
    color: $color-heading;
    margin-left: -2px; // weird space with font
  }
}