// Variables

// Colors
$black: #474a4f;
$blue-darker: #1f2329; // Dark Blue
$blue-dark: #282f39; // Slightly Less Dark Blue
//$blue-dark: #0f465e;
$blue: #1c93c5;
$gray: #9fa1a3;
$white: #fff;
$yellow: #ffc639;
$purple: #494158;

$color-heading: $black;
$color-text: $gray;
$color-header-background: $blue-darker;
$color-background: $white;
$color-footer-background: $blue-darker;
$color-link: $blue;
$color-link-hover: lighten($color-link, 30%);

// Sizes
$border-width: 0.25em;

// Font Stacks
$condensed-font-stack: "proxima-nova-alt-ext-cond",sans-serif;
$body-font-stack: "proxima-nova-alt", sans-serif;
