/**
 * layout.scss
 * Project Layout
 */

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

@mixin show-border($color: red) {
  border: 1px solid $color;
}

body { 
  @include container;
}

.page-header,
.page-section,
.page-footer {
    clear: both; //full width
    overflow:auto;
    @include show-border;  
}

.page-header {
  h1 {
    @include span-columns(6,12);
    @include show-border(blue);
  }
  nav {
    @include span-columns(6 omega, 12);
    @include show-border(orange);
  }
}

.layout-grid {
  .grid-item {
    @include span-columns(4,12);
    @include nth-omega(3n);
  }
  .grid-item:nth-child(3n+1) {
    clear: left;
  }
}

.section-about {
  &> section {
    @include span-columns(3,12);
    &:nth-child(4n) {
      border: 1px solid red;
    }
  }


}