// Variables

// Colors
$color-darker: #333;
$color-dark: #555;
$color-light: #ddd;
$color-lighter: #fff;
$color-accent: #F24738;

// Font Stacks
$heading-font-stack: "Avenir Next", sans-serif;
$subheading-font-stack: "Avenir Condensed",sans-serif;
$body-font-stack: "Caecilia Com", serif;
